<% require 'date' %>

<h2>Lootodo</h2>
<h4><%= Date.today.strftime("%A, %B %d") %></h4>
<br>
<div class="row">
  <div class="col-md-6">
    <p>TODOS</p>
    <%= form_with scope: :todo, url: todos_path do |f| %>
      <%= f.text_field :item, placeholder: "Add new task" %><br>
      <br>
      <%= f.submit "+", class: "btn btn-primary" %>
    <% end %>
    <ul>
      <% @todos.each do |todo| %>
          <h3>
            <li id="list">
              <%= todo.item %> <small>🎉 50XP</small>
            <small>
              <%= link_to 'x', todo,  method: :delete %>
            </small>
            </li>
          </h3>
      <% end %>
    </ul>
  </div>
</div>
